ul, .list_of_tasks {
    padding: 0;
    width: 300px;
}

li {
    height: 20px;
    padding: 10px;
    list-style-type: none;
}
li, .task_is_not_done  {
    background-color: #FFFF00;
}
.task_is_done {
    background-color: #00FF00;
}
.btn_remove_task {
    float: right;

}